/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

body {
    background-color: white;
    color: black;
}

#map {
  width: 100%;
  height: 100%;
  background-color: grey;
}

.row {
    height: 750px;
}
.map-col {
    width: 75%;
    height: 100%;
    float: left;
}

.SB-col {
    width: 25%;
    height: 100%;
    float: right;
}

#sidebar {
    width: 100%;
    height: 100%;
}

#sidebar-header {
    width: 98%;
    height: 15%;
    background-color: greenyellow;
    margin: auto;
    text-align: right;
}

#header-placeholder {
    height: 50px;
    width: 100%;
}

#sidebar-content {
    width: 98%;
    height:70%;
    margin: auto;
    overflow: auto;
}

.sb-content-elem {
    width: 95%;
    height:auto;
    background-color: yellowgreen;
    margin: 10px;
}

.issue-title {
    padding: 5px;
    width: 55%;
    height: 100%;
    float: left;
}

.see-more {
    width: 40%;
    height: 100%;
    float: right;
}

.priority-row {
    width: 100%;
    height: 100%;
}


