<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My AngularJS App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="app.css">
    <link rel=“stylesheet” href=“https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.js">
    <link rel=“stylesheet” href=“https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.7/angular-material.js">
    <link rel=“stylesheet” href=“https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

</head>
<body ng-app="myApp">

<div ng-view></div>
<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->


<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script src="angular/angular.js"></script>
<script src="angular-route/angular-route.js"></script>
<script src="app.js"></script>
<script src="version/version.js"></script>
<script src="version/version-directive.js"></script>
<script src="version/interpolate-filter.js"></script>
<script src="view1/view1.js"></script>
<script src="view2/view2.js"></script>


<!--<script async defer-->
        <!--src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDuG9ronXAG3Rt3WpbcO1nBRHAMPidadjI&callback=initMap">-->
<!--</script>-->
<!--<script>-->
    <!--window.addEventListener('DOMContentLoaded', initMap, false);-->
    <!--function initMap() {-->
        <!--var UoS = {lat: 50.9357134, lng: -1.3964415};-->
        <!--var map = new google.maps.Map(document.getElementById('map'), {-->
            <!--zoom: 4,-->
            <!--center: UoS-->
        <!--});-->
        <!--var marker = new google.maps.Marker({-->
            <!--position: UoS,-->
            <!--map: map-->
        <!--});-->
    <!--}-->
<!--</script>-->



</body>
</html>
