<div class="row">

    <div class="map-col" id="map-container">
        <!--<div id="map"></div>-->
        <div id="map" class="google-map" lat="50.9357134" long="-1.3964415"></div>

    <!--<md-card>-->
        <!--</md-card>-->
    </div>

    <div class="SB-col" ng-controller='View2Ctrl'>
        <div class="sample-show-hide" ng-show="expressions" style="padding: 20px 20px 20px 20px" id="chart-maker">
            <canvas id="line" class="chart chart-line" chart-data="data"
                    chart-labels="labels" chart-series="series" chart-options="options"
                    chart-dataset-override="datasetOverride" chart-click="onClick">
            </canvas>
        </div>
        <div id="sidebar">
            <div style="padding: 20px 20px 20px 20px">
                <div style="z-index: 2;position: relative">
                    <form style="padding-bottom: 30px">
                        <p class="range-field">
                            <input type="range" id="limit" min="0" max="10" />
                        </p>
                    </form>
                    <div style="text-align: center;height: 50px" class="switch">
                        <label  style="display: inline-block;">
                            Incomplete
                            <input type="checkbox" id="completeornot">
                            <span class="lever"></span>
                            Complete
                        </label>
                    </div>
                    <div style="text-align: center;height: 50px" class="switch">
                        <label  style="display: inline-block;">
                            Descending
                            <input type="checkbox" id="order">
                            <span class="lever"></span>
                            Ascending
                        </label>
                    </div>
                    <div>
                        <a class="waves-effect waves-light btn" style="float: right" ng-click="applyFilter()">Apply</a>
                    </div>
                </div>

            </div>

            <div id="header-placeholder">
                <div class="card-tabs" style="height: 10px">
                    <ul class="tabs tabs-fixed-width">
                        <li class="tab"><a ng-click="urgency(2)"><span class="red-text text-lighten-2">Urgent</span></a></li>
                        <li class="tab"><a class="active" ng-click="urgency(1)"><span class="amber-text text-lighten-2">Medium</span></a></li>
                        <li class="tab"><a ng-click="urgency(0)"><span class="green-text text-lighten-2">Low</span></a></li>
                    </ul>
                </div>
            </div>
            <div id="sidebar-content">
                <div class="collection-item sb-content-elem" ng-repeat="x in problems track by $index">
                    <span class="issue-title">
                        {{x.title}} </br>
                        {{x.description}}
                    </span>
                    <div class="see-more">
                        <a class='btn waves-effect' ng-click="completed(x._id)">Complete</a>
                    </div>
                    <div>
                        <span>{{x.createdAt | date : "fullDate"}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('.datepicker').pickadate({
        placeholder: "Tasks ",
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 15, // Creates a dropdown of 15 years to control year,
        today: 'Today',
        clear: 'Clear',
        close: 'Ok',
        closeOnSelect: true // Close upon selecting a date,
    });
</script>


